.cell {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 13px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
        color: var(--blue);
        text-decoration: none;
        transition: all 150ms var(--bezier);

        &:hover {
            color: var(--light-blue);
            text-decoration: underline;
        }
    }
}

.cellHeader {
    color: var(--gray-5);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.cellBody {
    color: var(--blue);
    font-weight: 400;
}

.link {
    color: var(--light-blue);
    text-decoration: none;
}

.centered {
    text-align: center;
}
