@import '../../../index';

.container {
    padding: 0 20px;
}

.wrapper {
    cursor: pointer;
    position: relative;
}

.icon {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
    color: var(--white);
    font-size: 17px;
}

.badge {
    color: var(--white);
    display: block;
    font-size: 9px;
    line-height: 0.9;
    position: absolute;
    top: 0;
    transform: translate3d(100%, -100%, 0);
    right: 0;
    user-select: none;
    z-index: 1;
}

.badge::before {
    background-color: var(--blue);
    border-radius: 50%;
    content: '';
    height: 15px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-54%, -51%, 0);
    width: 15px;
    z-index: -1;
}

.badgeExtended {
    @extend .badge;
}

.badgeExtended::before {
    background-color: var(--blue);
    border-radius: 10px;
    content: '';
    height: 15px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -51%, 0);
    width: calc(100% + 8px);
    z-index: -1;
}
