@import '../../../index';

.container {
    padding: 50px 60px 30px;
}

.titleContainer {
    align-items: flex-end;
    display: flex;
}

.title {
    margin-right: 40px;
}

.divider {
    margin-bottom: 15px;
    position: relative;
}

.button {
    position: absolute;
    top: 0;
    transform: translate3d(0, -50%, 0);
    right: 0;
}

.filter {
    margin-right: 7px;
}
