.container {
    align-items: center;
    color: var(--white);
    display: inline-flex;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    opacity: 0.5;
    padding: 20px 30px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s var(--bezier);
    width: 100%;

    &::before {
        background-color: var(--teal);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: all 0.3s var(--bezier);
        transform: translateX(-100%);
        width: 3px;
    }

    &:hover {
        background-color: rgba(#1c2541, 0.35);
    }
}

.leadingIcon {
    font-size: 18px;
    width: 40px;
}

.text {
    font-size: 14px;
}

.active {
    background-color: rgba(#1c2541, 0.35);
    opacity: 1;

    &:hover {
        background-color: rgba(#1c2541, 0.35);
    }

    &::before {
        transform: translateX(0);
    }
}


