.container {
  width: 500px;
}

.withMargin {
  margin-bottom: 15px;
}

.divider {
  margin-bottom: 40px;
}

.formMargin {
  margin-bottom: 40px;
}

.reset {
  color: var(--white);
  font-family: 'Roboto Slab', sans-serif;
  font-size: 12px;
}