@import '../../../index';

.container {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    padding: 20px 10px;
    width: 80px;
}

.header {
    margin-bottom: 20px;
    width: 100%;
}

.body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: auto;
    width: 100%;
}

.footer {
    justify-self: flex-end;
    text-align: center;
    width: 100%;
}
