@import '../../../index';

.container {
    align-items: center;
    background: var(--secondary-gradient);
    display: flex;
    height: 100px;
    justify-content: flex-end;
    overflow: hidden;
    padding: 0 60px;
    position: relative;
    z-index: 2;
}

.background {
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: center;
    opacity: 0.3;
    mix-blend-mode: hard-light;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
