.full {
  flex: 0 4 100%;
  width: 100%;
}

.half {
  flex: 0 2 50%;
  width: 50%;
}

.quarter {
  flex: 0 1 25%;
  width: 25%;
}

.threeQuarters {
  flex: 0 3 75%;
  width: 75%;
}

.third {
  flex: 0 1 33.33333%;
  width: 33.33333%;
}

.twoThirds {
  flex: 0 2 66.66666%;
  width: 66.66666%;
}